/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
    background: #0e0e0e;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem 4rem;
}

app-header, app-footer {
    flex: none;
}

main {
  flex: 1 0 auto;
  box-sizing: border-box;
}