body {
    margin: 0;
}

header {
    background: #037bfc;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem 0 0;
}

.logo {
    font-size: 15px ;
    flex: 1;

}

.nav-items {
    display: flex;
    gap: 4rem;
    list-style: none;
    font-weight: bold;
}

.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;

}

.side-bar {
    font-weight: bold;
    color: #fff;
    background: #037bfc;
    height: 100%;
}

.side-bar-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 1rem;

}