.layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;

    grid-template-areas: 
        "header header"
        "sidebar main"
        "sidebar footer";
}

app-header {
    grid-area: header;
}

app-siderbar {
    grid-area: sidebar;
}

main {
    grid-area: main;
    overflow-y: auto;
}

.table-container {
    padding: 0.5rem 3rem;
}

.mat-mdc-header-row {
  background-color: #037bfc;
}

.mat-mdc-header-cell {
  background-color: #037bfc;
  color: #fff;
}

.action-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 5px;
    align-items: center;
}
app-footer {
    grid-area: footer;
}